@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --bg-clr: #fafafa;
  --text-clr: #000000;
  --bg-card-clr: #fafafa;
  --shadow-clr: #c7c7c7;
  --svg-clr: #202d36;
}

.dark-mode {
  --bg-clr: #202d36;
  --text-clr: #ffffff;
  --bg-card-clr: #2b3743;
  --shadow-clr: #11181d;
  --svg-clr: white;
}

body {
  background: var(--bg-clr);
  color: var(--text-clr);
}

svg {
  color: var(--svg-clr);
}

main {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 4rem;
  margin-top: 3rem;
}
